/* for mobile width 768px */
@media (max-width:768px){
    .container{
        padding: 0 40px;
    }
    .menu {
        display: none;
    }
    .mobile-menu {
        display: block;
        font-size: 35px;
        color: #fff;
    }

    /* hero section */
    .half-width {
        display: flex;
        flex-direction: column;
    }
    h1 {
        font-size: 50px;
        line-height: 64px;
    }
    .hero-heading {
        justify-content: start;
    }
    .hero-image img{
        padding-top: 50px;
    }

    /* grid */
    .grid-wrap {

        grid-template-columns: 1fr;

    }
    .load-more{
        display: block;
    }
    
    /* banner */
    .banner-text h1 {
        font-size: 47px;
        line-height: 66px;
        font-weight: 500;
        margin: 30px 0;
    }
    .banner-text p{
        width: 100%;
        margin-bottom: 25px;
    }
    
}